<div class="row">
  <div class="col-md-6 offset-md-3">
    <h1>Effettua l'accesso</h1>
    <form name="loginForm" #f="ngForm" (ngSubmit)="signIn(f)">
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" required email type="email" ngModel #email="ngModel" name="email" id="email">
        <div *ngIf="email.invalid && email.dirty && email.touched">
          <div class="alert-danger" *ngIf="email.errors.required">
            Il campo "Email" è obbligatorio
          </div>
          <div class="alert-danger" *ngIf="email.errors.email">
            La email immessa non è valida
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" required minlength="6" type="password" ngModel #password="ngModel" name="password" id="password">
        <div *ngIf="password.invalid && password.dirty && password.touched">
          <div class="alert-danger" *ngIf="password.errors.required">
            Il campo "Password" è obbligatorio
          </div>
          <div class="alert-danger" *ngIf="password.errors.minlength">
            La lunghezza minima della "Password" è di {{ password.errors.minlength.requiredLength | json}} caratteri
          </div>
        </div>
      </div>
      <div class="form-group text-center">
        <button [disabled]="!f.valid" class="btn btn-primary">ACCEDI</button>
      </div>
    </form>
  </div>
</div>
