<form class="userForm" #f="ngForm">
  <input type="hidden" name="id" [(ngModel)]="user.id">
  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="firstname">Nome</label>
      <input required pattern="[a-zA-Z\s]*" minlength="3" #firstName="ngModel" placeholder="Nome" [(ngModel)]="user.name"
        name="firstname" id="firstname" class="form-control">
      <div *ngIf="firstName.invalid && firstName.dirty && firstName.touched">
        <div class="alert-danger" *ngIf="firstName.errors.required">
          Il campo "Nome" è obbligatorio
        </div>
        <div class="alert-danger" *ngIf="firstName.errors.minlength">
          La lunghezza minima del "Nome" è di {{ firstName.errors.minlength.requiredLength | json}} caratteri 
        </div>
        <div class="alert-danger" *ngIf="firstName.errors.pattern">
          Il campo "Nome" è non può contenere i seguenti caratteri {{ firstName.errors.pattern.requiredPattern | json}}
        </div>
      </div>
    </div>
    <div class="form-group col-sm-6">
      <label for="lastname">Cognome</label>
      <input [(ngModel)]="user.lastname" name="lastname" id="lastname" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="fiscalcode">Codice Fiscale</label>
      <input [(ngModel)]="user.fiscalcode" name="fiscalcode" id="fiscalcode" class="form-control">
    </div>
    <div class="form-group col-sm-6">
      <label for="email">Email</label>
      <input [(ngModel)]="user.email" name="email" id="email" type="email" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6">
      <label for="phone">Telefono</label>
      <input [(ngModel)]="user.phone" name="phone" id="phone" class="form-control">
    </div>
    <div class="form-group col-sm-6">
      <label for="province">Provincia</label>
      <input [(ngModel)]="user.province" name="province" id="province" class="form-control">
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6 offset-sm-3">
      <label for="age">Età</label>
      <input #age="ngModel" required minlength="2" maxlength="3" pattern="[0-9]{2,3}" [(ngModel)]="user.age" name="age" id="age" class="form-control">
      <div *ngIf="age.invalid && age.dirty && age.touched">
        <div class="alert-danger" *ngIf="age.errors.required">
          Il campo "Età" è obbligatorio
        </div>
        <div class="alert-danger" *ngIf="age.errors.maxlength">
          La lunghezza massima del "Età" è di {{ age.errors.maxlength.requiredLength | json}} caratteri 
        </div>
        <div class="alert-danger" *ngIf="age.errors.minlength">
          La lunghezza minima del "Età" è di {{ age.errors.minlength.requiredLength | json}} caratteri 
        </div>
        <div class="alert-danger" *ngIf="age.errors.pattern">
          Il campo "Età" è non può contenere i seguenti caratteri {{ age.errors.pattern.requiredPattern | json}}
        </div>
      </div>
    </div>
  </div>
  <div class="form-group form-footer text-center">
    <button (click)="backToUsers()" class="btn btn-primary">INDIETRO</button>
    <button (click)="resetForm(f.form)" class="btn btn-secondary">RESETTA</button>
    <button [disabled]="f.invalid" (click)="saveUser()" class="btn btn-success">SALVA</button>
  </div>
</form>
